@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Sidebar */
.sidebar {
    background: #1a1a1a;
    float: left;
    height: 100%;
    padding-top: 25px;
    width: 300px;
}
.sidebar .list-group-item {
    background: #333333;
    color: #eeeeee;
}
.sidebar .list-group-item:hover {
    background: #595959;
}

/* Admin Panel */
.main-admin-panel {
    height: 100%;
    overflow: auto;
    padding: 25px;
}
.main-admin-panel > .container {
    max-width: 100%;
}
.main-admin-panel .post-edit-wrapper .img-thumbnail {
    margin-bottom: 20px;
    max-width: 300px;
}

/* Category / Tag */
.taxonomy-wrapper {
    max-height: 241px;
    overflow-x: hidden;
}
.taxonomy-wrapper.scroll-enable {
    overflow-y: scroll;
}
.taxonomy-wrapper input[type='checkbox'] {
    margin-right: 5px;
}
.taxonomy-wrapper > label {
    margin-bottom: 3px;
}
